body {
    background-color: lightgray;
    background-image: url(../images/white-waves.png);
    font-family: Arial, Helvetica, sans-serif;
    
}

.header {
    float: left;
    color: white;
    background-color: #4aaaa5;
    font-size: 40px;
    margin-left: 104px;
    padding: 20px; 

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h6 {
    float: left;
}
.titleBar {
    background-color: white;
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #666666;

}

.navigation {
    float: left;
    background-color: white;
    position: relative;
    left: 40%;
    height: 20px;
    margin-top: 16px;

}

a:link {
    color: #4aaaa5;
}

a:visited {
    color: #4aaaa5;
}
.navBtn {
    background-color: transparent;
    border-right: 1px solid gray;
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-align: center;
    font-size: 35px;
    padding: 2px 20px;
    color: #4aaaa5;
    margin-top: 10px;
}



.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
   
}

.aboutHeader, .contactHeader, .portfolioHeader {
    Color: #4aaaa5;
    background-color: white;
    font-size: 36px;
    position: absolute;
    width: 1242px;
    left: -252px;
    top: 64px;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px;
    z-index: 1;
    padding: 20px;
    

}

.aboutBody, .contactBody, .portfolioBody {
    background-color: white;
    position: absolute;
    width: 1301px;
    height: 415px;
    top: -4px;
    left: -280px;
    padding: 20px;
    padding-top: 95px;
    margin: 61px auto;
}


.aboutBody p {
    font-size: 25px;
    letter-spacing: 1px;
    color: darkslategray;
}


#AdamProfile {
    width: 313px;
    height: 284px;
    float: left;
    padding: 15px;
    transform: rotate(90deg);
}

.label {
    color: black;
    background-color: teal;
    font-size: 28px;
    text-align: center;
    right: 0px;
    width: 300px;
    position: absolute;
    
}
.vsfxBox  {
    position: absolute;
    Height: 400px;
    width: 300px;
    background-image: url(../images/ClockworkReborn.PNG);
    background-repeat: no-repeat;
    background-size: 400px 200px;
}

.vsfxLabel {
    bottom: 237px;

}

.drumBox {
    position: absolute;
    Height: 400px;
    width: 300px;
    background-image: url(../images/RaidersBass.PNG);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    right: 634px;
    top: 95px;
}

.drumLabel {
    bottom: 234px;
}

.musicBox {
    position: absolute;
    Height: 400px;
    width: 300px;
    background-image: url(../images/Soundcloud.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    right: 1021px;
    top: 315px;
}

.musicLabel{
    bottom: 223px;
}

.voiceBox {
    position: absolute;
    Height: 400px;
    width: 300px;
    background-image: url(../images/microphone.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    right: 246px;
    top: 95px;
}

.voiceLabel {
    bottom: 234px;
}

.footer {
    position: fixed;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 60px;
    top: 705px;
    text-align: center;
    color: white;
    padding: 15px 0px 0px;
    width: 100%;
}

form {
    font-size: 24px;
    color: darkslategray;
}

.formInput {
    width: 99%;
    padding: 5px;
    margin-bottom: 10px;
    
}

.formMessage {
    height: 175px;
    margin-bottom: -5px;
}

.submitButton {
    background-color: teal;
    border: none;
    text-align: center;
    font-size: 26px;
    color: white;

}
